*{
    margin: 0;
    padding: 0;
}
.subtitulo1{
    font-size: 26px;
    color: #00a78e;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 2pt;
    
    
}
.title{
    font-size: 48px;
    color: #293651;
    font-weight: bold;
    padding-top: 20px;
}
.subtitulo2{
    color: #293651;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.text{
    color: #76778c;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1.2pt;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn{
    background-color: #00a78e;
    border-radius: 4px;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.parte1{
    margin-left: 80px;
    margin-top: 80px;
}